---
const PostingAwait = await Astro.glob("../../pages/posts/*.md");
---

<section class="px-2">
  <h3 class="text-2xl md:text-4xl font-bold text-cyan-300 pl-2">
    Últimos artículos
  </h3>
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4 lg:gap-8 my-4 md:mt-8 lg:my-9"
  >
    {
      PostingAwait.map((post) => {
        <a href={post.url}>
          <img src={post.frontmatter.img.url} alt={post.frontmatter.img.alt} />
          <h6>{post.frontmatter.title}</h6>
        </a>;
      })
    }
  </div>
</section>
